input {
  border: 0;
  outline: 0;
  padding: 0; }
  input:focus {
    outline: 0; }

button {
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer; }
  button:focus {
    outline: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:focus {
    outline: 0; }

p {
  margin-bottom: 0;
  margin-top: 0; }
